<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened="true"  class="example-sidenav">

      <div class="icon-bar" >
          <a href="#"> <mat-icon (click)="showFiller = !showFiller"  >home</mat-icon><p *ngIf="showFiller" >Home</p></a>
          <a href="#"> <i class="material-icons">alarm_on</i><p *ngIf="showFiller">Alarm on</p></a>
          <a href="#"> <i class="material-icons">perm_identity</i><p *ngIf="showFiller">Perm Identity</p></a>
          <a href="#"><i class="material-icons">settings_phone</i><p *ngIf="showFiller">Settings phone</p></a>
          <a href="#"> <i class="material-icons">cloud_upload</i><p *ngIf="showFiller">Cloud upload</p></a>
          <a href="#"> <i class="material-icons">keyboard_voice</i><p *ngIf="showFiller">Keyboard voice</p></a>
          <a href="#">  <i class="material-icons">edit</i><p *ngIf="showFiller">Edit</p></a>
          <a href="#"> <i class="material-icons">place</i><p *ngIf="showFiller">Place</p></a>
          <a href="#"> <i class="material-icons">notifications_active</i><p *ngIf="showFiller">Notifications active</p></a>
          <a href="#"> <i class="material-icons">settings_power</i><p *ngIf="showFiller">Settings power</p></a>
      </div>

  </mat-drawer>

<mat-drawer-content>

      <mat-toolbar class="example-header">
          <button mat-button class="menu"  color="primary">Dashboard <i class="material-icons">expand_more</i></button>
           <button class="btn"  mat-icon-button (click)="sketch.toggle()" ><mat-icon>menu</mat-icon></button>
     </mat-toolbar>

<mat-drawer  class="example-sidenav2" mode="side" position="end" opened="false" #sketch>
   <mat-card class="shadowoff">
         <button mat-icon-button class="closebtn" (click)="sketch.toggle()"><i class="material-icons">close</i></button>

     <mat-tab-group class="tabs">
            <mat-tab class="tabbtn1" label="Tab 1" >
                <div class="history-tl-container">
                    <ul class="tl">
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title"><a href="#" (click)="getstatus()">Start from Shire</a></div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                      <div class="item-title"><a href="#" (click)="getstatus1()">Kill some Orcs</a></div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                         <div class="item-title"><a href="#" (click)="getstatus2()">Throw that goddamn ring in the lava</a></div>
                      </li>
                    </ul>
                  </div>
           </mat-tab>

           <mat-tab label="Tab 2" class="tabbtn2">
                <div class="history-tl-container">
                    <ul class="tl">
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title"> <a href="#">Start from Shire</a></div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                      <div class="item-title"><a href="#">Kill some Orcs</a></div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                         <div class="item-title"><a href="#">Throw that goddamn ring in the lava</a></div>
                      </li>
                    </ul>
                  </div>
           </mat-tab>

           <!-- <mat-tab label="Tab 3" class="tabbtn3">
                <div class="history-tl-container">
                    <ul class="tl">
                      <li class="tl-item" ng-repeat="item in retailer_history">
                        <div class="item-title"> <a href="#">Start from Shire</a></div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                      <div class="item-title"><a href="#">Kill some Orcs</a></div>
                      </li>
                      <li class="tl-item" ng-repeat="item in retailer_history">
                         <div class="item-title"><a href="#">Throw that goddamn ring in the lava</a></div>
                      </li>
                    </ul>
                  </div>
            </mat-tab> -->

          </mat-tab-group>
          </mat-card>
    </mat-drawer>

        <div class="topnav">
            <a class="active" [routerLink]="['/']">Home</a>
            <a [routerLink]="['/funfacts']">Funfacts</a>
            <a [routerLink]="['/summary']">Summary</a>
            <a [routerLink]="['/analytics']">Analytics</a>
            <a [routerLink]="['/inventory']">Inventory</a>
            <a [routerLink]="['/leadboard']">Lead Board</a>
            <a [routerLink]="['/actionzone']">Action Zone</a>
          </div>

        <router-outlet></router-outlet>

</mat-drawer-content>
</mat-drawer-container>



