.example-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.example-sidenav {
  display: flex;
  padding: 0px;
  height: 100%;
  /* width: auto; */
  background: #152334;
  transform: translate3d(0px,0px,0px);
}

.example-sidenav2{
  width: 426px;
}

mat-tabs-wrapper, mat-tabs-canvas, mat-pagination-wrapper {
  height: 90px !important;
}


.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.example-header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 233, 236);
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.closebtn{
  float: right;
}

.menu{
  margin-left: 10px;
  border-color: rgb(22, 22, 22);
  background-color: white;
  border:1px solid;
  border-radius: 20px;
  width: 150px;
}

.tabs{
  margin-left: 0px;
  width: 100%;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}

.history-tl-container{
  font-family: "Roboto",sans-serif;
margin:auto;
display:block;
position:relative;
}

.history-tl-container ul.tl li{
  list-style: none;
  margin:auto;
  margin-left:0px;
  min-height:20px;
  border-left:1px solid #86D6FF;
  padding:0 0 30px 30px;
  position:relative;
}

.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
  position: absolute;
  left: -8px;
  content: " ";
  border: 8px;
  border-radius: 500%;
  background: #258CC7;
  height: 15px;
  width: 15px;
 }

.item-title a{
  color: rgb(2, 2, 2);
    text-decoration: none;
}

 .icon-bar {
  width: 100%;
  margin: 0px;
  transform: translate3d(0px,0px,0px);
}

.icon-bar a {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 30px;
  color: white;
  transform: translate3d(0px,0px,0px);
}

.icon-bar a:hover {
  background-color:  #555;
}

.example-sidenav .mat-icon, .example-sidenav .material-icons {
  top: 10px;
  position: relative;
  width: 50%;
  height: auto;
  text-align: left;
}
p.ng-star-inserted{
  width: 100%;
    text-align: left;
}
.icon-bar a{
  text-decoration: none;
}


 .mat-tab-group {
  display: flex;
  margin-top: 46px;
}
/*
.toolbar{
  display: flex;
}

.router li{
  list-style: none;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
 */

 .topnav {
  overflow: hidden;
  background-color: #f2f2f2 ;
}
.topnav a {
  float: left;
  color:  rgb(187, 185, 185);;
  text-align: center;
  padding: 28px 66px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
border-bottom: 2px solid rgb(233, 170, 36);
  color: black;
}








